
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px; /* Espaço para o menu fixo */
    background: linear-gradient(to bottom, #f0f8ff, #dcdcdc); /* Fundo do body */
}

/* Menu suspenso */
nav ul {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #003366; /* Cor do menu suspenso */
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1E90FF;
    border-radius: 10px;
}

.container {
    display: flex;
    width: auto;
    max-width: 1000px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.login-section {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a148c;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-section input:focus {
    border-color: #7e57c2;
    outline: none;
}

.login-section button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background: #4a148c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-section button:hover {
    background: #7e57c2;
}

.login-section a {
    color: #4a148c;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.info-section {
    flex: 1;
    background: linear-gradient(135deg, #4a148c, #7e57c2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.info-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 16px;
}

.info-section img {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    align-self: center;
}

footer {
    background: #ddd6e5;
    color: #0c0c0c;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}
